:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: #454545;
    --secondary-color: #ffffff;
    --tertiary-color: #454545;
    --error-color: #EE3A23;
}

.background {
    background-color: #8A8C8F;
    margin: 0;
    counter-reset: section;
    font-family: "Helvetica Neue",Helvetica,sans-serif;
}
body {
	font-family: Calibri,sans-serif;
	font-weight: 100;
  margin: 0;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7F00FF;
    color:#FFFFFF;
    padding: 4px 20px;
}

select {
  font-weight: bold;
}

label{
  font-weight:bold;
}

button {
   background-color: #7F00FF;
    border-radius: 8px;
    border-width: 0;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Calibri", Calibri, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

.login_button {
    color: #7F00FF;
    text-decoration: none;
     border-radius: 8px;
     border-width: 0;
     background-color: #FFFFFF;
     cursor: pointer;
     display: inline-block;
     font-family: "Calibri", Calibri, sans-serif;
     font-size: 14px;
     font-weight: 500;
     line-height: 20px;
     list-style: none;
     margin: 0;
     padding: 10px 12px;
     text-align: center;
     transition: all 200ms;
     vertical-align: baseline;
     white-space: nowrap;
     user-select: none;
     -webkit-user-select: none;
     touch-action: manipulation;
}


form label{
  font-weight:bold;
}

.div-1{
  font-weight:bold;
  display: inline-block;
  color: var(--tertiary-color);
}

.div-2{
  display: inline-block;
}

.div-3{
  font-weight:bold;
  display: inline-block;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
  
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  color: var(--tertiary-color);
  background-color: #ffffff;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #dddddd;;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  background-color: var(--primary-color);;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #7F00FF;
}

.active {
  background-color: #7F00FF;
}

.header_home {
    font-size: 36px;
    line-height: 60px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.card {
    border-radius: 8px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 2em;
    padding: 2em 2.5em;
    max-width: 700px;
}

.container {
  display: flex;
  justify-content: center;
}

.button-container {
  padding-top: 1em;
  margin: 0 4em;
  display: flex;
  justify-content: space-evenly;
}

.form-container {
  margin: auto;
  width: 700px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

.required:after {
    content:" *";
    color: red;
  }

.tags {
    display: flex;
    flex-direction: row;
}

.tag {
    font-size: 12px;
    margin: 0 10px;
    padding: 4px 8px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
    border-radius: 16px;
}

.song {
    padding: 2px;
    display: flex;
}

.song .title {
    flex: 20%;
}

.song .album {
    flex: 80%;
}

.text-center {
  text-align: center;
}

.view-all-expenses {
  margin: 2em;
}

.input-wrap{
  position:relative;
}

.currency-code{
  position:absolute;
  left:8px;
  top:10px;
}

.input-style{
  padding:10px 10px;
  border:solid 1px #ccc;
  border-radius:5px;
  min-width: 450px;
}

.currency-input-style{
  padding:10px 20px;
  border:solid 1px #ccc;
  border-radius:5px;
  min-width: 430px;
}

.view-expense-button-group {
  padding-top: 2em;
}
/*
Flexbox on a lists removes the numbers. We use a counter here to add them back.
https://stackoverflow.com/a/34316093
https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters
*/
.song:before {
    counter-increment: section;
    content: counter(section) ".";
    position: absolute;
    margin-left: -40px;
}
